<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h1 class="text-center">Lampwriter</h1>
      <br>
      <div class="text-center">
        <span class="index-filter-recent">Most Recent</span> |
        <span class="index-filter-title">Alphabetically</span>
      </div>
      <% notes.each(function(note){ %>
      <div class="row index-whole">
        <div class="index-info col-sm-3">
          By User1 <br>
          Published <time datetime="<%= note.get('created_at') %>" class="age"></time><br>
          6 <span class="glyphicon glyphicon-star"></span><br>
        </div>
        <div class="index-note col-sm-9">
          <a href="#/notes/<%= note.get('id') %>">
            <span class="note-letter illuminate"><%= note.get('title').charAt(0) %></span>
            <span class="note-content"><%= note.get('title').slice(1, note.get('title').length) %></span>
          </a>
        </div>
      </div> 
      <% }); %>
    </div>
  </div>
  <!-- Page Navigation -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <% if(notes.state["currentPage"] > 1){ %>
        <button class="back btn">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
      <% };%>
      <% if(notes.state["currentPage"]*notes.state["pageSize"] < allNotes.length){ %>
        <button class="next btn">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      <% }; %>
    </div>
  </div>

</div>