<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h3><%= note ? "Edit" : "Create" %> Note</h3> 
      
      <form id="note-form" class="form-horizontal" role="form">
        <p class="note-title">
          <input type="text" name="note[title]" placeholder="Title" value= "<%= note ? note.get('title') : '' %>" style="border: 0px solid #000000;" autofocus>
        </p>
        
        <p class="note-body">
          <textarea name="note[body]" rows="8" cols="40" placeholder="Body" style="border: 0px solid #000000;"><%= note ? note.get('body') : '' %></textarea>
        </p>
        <% if(note){ %>
          <input type="hidden" name="id" value="<%= note.id %>">
        <% }; %>
        <br>
      </form>
      <button id="submit" type="submit" class="btn">Save</button>
      <!-- <a href="#/notes">Back</a> -->
    </div>
  </div>
</div>
