/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$body-bg: #FFFFF0;
body{
  /*background-image: url("/assets/test.png");*/
}

.form-horizontal textarea, 
.form-horizontal input {
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-family: 'Lora', serif; 
}

.form-horizontal input{
  font-size: 30px;
}

.form-horizontal p {
  margin: 0 0 2px;
}

.show-note h2,
.show-note p {
  font-family: 'Lora', serif;
}

#canvas {display: block;}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

@import "bootstrap";