/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require pikabu-theme
 *= require pikabu
 */


/*COLOR PALETTE*/
$gold: #FFA200;
$pale-yellow: #FFD464;


$body-bg: #FFF;
body{
  /*background-image: url("/assets/paper.png");*/
  transition:all 1s;
}

.index-whole:hover > .index-info {
  color:#7f8c8d;
}

.index-info{
  transition:color .75s;
  color:#fff;
  text-align: right;
  vertical-align: middle;
  padding-top: 45px; 
}

.index-note a{
  transition: color .75s;
}
.index-note a:link {
  color:#7f8c8d;
}
.index-note a:visited {
  color:#7f8c8d;
}
.index-note a:active {
  color:#000; 
}
.index-note a:hover {
  color:$gold;
  text-decoration: none !important;
}


@font-face {  
  font-family: 'illuminate';  
  src: url("/assets/apexlake.ttf") format("truetype");   
}

.illuminate{
  font-family: 'illuminate';
  font-size: 110px; 
}  

.note-block{
/*  width: 300px;
  height: 180px;*/
  /*outline: black 4px solid;*/
  /*padding: 10px;*/
}

.note-letter{
  /*float: left;*/
}

.note-content{
  font-family: 'Lora';
  font-size: 30px;
  vertical-align: 25%; 
}

.dark{
  background-color: #2F3238;
  color:#fff;
}

#menu-toggle{
  font-size: 24px;
  top: 20px;
  left: 0px;
}

.side-navigation{
  font-size: 20px;
}

.form-horizontal textarea, 
.form-horizontal input {
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-family: 'Lora', serif; 
}

.form-horizontal input{
  font-size: 30px;
}

.form-horizontal p {
  margin: 0 0 2px;
}

.saved{
  color: #2ecc71;
}
.transitioning{
  transition:all 1s;
}

.active-glyph{
  color:#e67e22;
}

#edit-link{
  font-size: 15px;
  padding-left: 5px;
  vertical-align: 15%; 
}

.show-note{
  font-family: 'Lora', serif;
}

#canvas {display: block;}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

@import "bootstrap";